Flask==1.1.2
Flask-Cors==3.0.8
importlib-metadata==1.6.0
jsonify==0.5
jsonschema==3.2.0
kiwisolver==1.2.0
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy
oauthlib==3.1.0
opencv-python==4.3.0.48
pandas
pickleshare==0.7.5
scikit-learn==0.23.1
scipy
six==1.15.0
tensorboard
tensorflow==2.5.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
